@model Category
@{
    ViewData["Title"] = "Detail";
}


<div class="main-panel"`>
    <div class="table-responsive pt-3"><br>
<h1 >Detail</h1>
        <table class="table table-dark">
            <thead >
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @Model.Id
                    </td>
                    <td>
                        <img style="width:150px !important; height:150px; object-fit:contain" src="~/assets/img/@Model.Image" alt="">
                    </td>
                    <td>
                        @Model.Name
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>